@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Google Sans Flex", sans-serif;
  transition: background-position 0.3s ease-out;
}

.right-arrow {
  z-index: 100;
  /* animation: right-arrow 1.5s linear infinite; */
  transition: all 0.3s ease-out;
}

@keyframes right-arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}

.left-arrow {
  z-index: 100;
  /* animation: left-arrow 1.5s linear infinite; */
  transition: all 0.3s ease-out;
}

@keyframes left-arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

.title {
  z-index: -10;
  font-size: 4rem;
  font-weight: 900;
}

.subtitle {
  margin-top: -24px;
  font-size: 2rem;
  font-weight: 400;
}

.title-container {
  z-index: -10;
  transition: all 0.5s ease-out;
}
